Source: yosys-abc
Section: non-free/electronics
Priority: extra
Maintainer: Ruben Undheim <ruben.undheim@gmail.com>
Build-Depends: debhelper (>= 9), mercurial
Standards-Version: 3.9.2
Homepage: http://www.eecs.berkeley.edu/~alanmi/abc/
#Vcs-Mercury: https://bitbucket.org/alanmi/abc

Package: yosys-abc
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: ABC - A System for Sequential Synthesis and Verification 
 By Berkeley Logic Synthesis and Verification Group
