Source: berkeley-abc
Section: electronics
Priority: optional
Maintainer: Ruben Undheim <ruben.undheim@gmail.com>
Build-Depends: debhelper (>= 9), libreadline-dev, libbz2-dev,
               zlib1g-dev
Standards-Version: 3.9.5
Homepage: http://www.eecs.berkeley.edu/~alanmi/abc/
Vcs-Hg: https://bitbucket.org/alanmi/abc

Package: berkeley-abc
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: ABC - A System for Sequential Synthesis and Verification 
 By Berkeley Logic Synthesis and Verification Group
